.about-us__title {
  text-align: center;
}

.about-us__subtitle {
  text-align: center;
  margin-top: 8px;
}

.about-us__container {
  display: flex;
  margin-top: 43px;
}

.about-us__info {
  margin-right: 32px;
}

.about-us__video {
  width: 44%;
  flex-shrink: 0;
}

.about-us__btn {
  margin-top: 34px;
}
