@import "../variables.scss";

.button {
  min-width: 194px;
  min-height: 45px;
  background-color: $color-firm3;
  color: $color-firm2;
  font-size: $font-size10;
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  outline: none;
  cursor: pointer;
  transition: background-color $animation-time;
  &:hover,
  &:focus {
    background-color: $color-firm7;
  }
  &:active {
    background-color: rgba($color-firm7, 0.7);
  }
}

.button--secondary {
  background-color: $color-firm7;
  &:hover,
  &:focus {
    background-color: $color-firm3;
  }
  &:active {
    background-color: rgba($color-firm3, 0.7);
  }
}
