@import "./button.scss";
@import "./text-field.scss";
@import "./video-player.scss";
@import "./tabs.scss";
@import "./about-us.scss";
@import "./services.scss";
@import "./our-projects.scss";
@import "./our-customers.scss";
@import "./price.scss";
@import "./some-facts.scss";
@import "./contact-us.scss";
