@import "../variables.scss";

$items-per-row: 4;
$item-margin: 15px;

.price {
  text-align: center;
}

.price__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: calc(45px - #{$item-margin}) -#{$item-margin} -#{$item-margin}; // TODO: Simplify this line
}

.price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px 20px 33px;
  background-color: $color-firm2;
  flex-basis: calc(100% / #{$items-per-row} - #{$item-margin} * 2);
  margin: $item-margin;
}

.price__item-title {
  font-weight: 700;
  word-spacing: -4px;
  margin-top: 15px;
}

.price__item-period {
  color: $color-firm4;
  font-size: $font-size10;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.price__item-features {
  margin: 18px auto 25px;
}

.price__item-feature {
  color: $color-firm6;
  font-size: $font-size10;
  line-height: 1.3;
  &:after {
    content: '';
    display: block;
    width: 7px;
    height: 1px;
    background: currentColor;
    margin: 7px auto 5px;
  }
  &:last-child {
    &:after {
      content: none;
    }
  }
}

.price__item-btn {
  margin: auto auto 0;
  min-width: 0;
}

