@import "../variables.scss";

.tabs {
  display: flex;
  justify-content: center;
  height: 58px;
}

.tabs__items {
  display: flex;
  height: 100%;
  border: 1px solid $color-firm10;
  background-color: $color-firm11;
  border-radius: 25px;
  padding: 0 15px;
}

.tabs__item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 5px 22px;
  cursor: pointer;
  overflow: hidden;
  &:last-child {
    &:after {
      content: none;
    }
  }
  &:hover,
  &:focus {
    &:before {
      transform: translateY(0);
    }
  }
  &:active {
    &:before {
      transform: translateY(2px);
    }
  }
  &:before {
    display: block;
    position: absolute;
    content: '';
    width: calc(100% - 10px);
    height: 6px;
    left: 5px;
    bottom: -1px;
    background-color: $color-firm3;
    transform: translateY(100%);
    transition: transform $animation-time;
  }
  &:after {
    display: block;
    position: absolute;
    content: '';
    width: 1px;
    height: calc(100% - 4px);
    top: 2px;
    right: 0;
    background-color: $color-firm10;
  }
}

.tabs__item--active {
  &:before {
    transform: translateY(0);
  }
}
