@import "../variables.scss";

.video-player {
  position: relative;
  width: 100%;
}

.video-player__video {
  display: block;
  width: 100%;
}

.video-player__play-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: rgba($color-firm1, 0.7);
  color: $color-firm2;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  padding: 10px;
  left: 0;
  top: 0;
  transition: opacity $animation-time;
  cursor: pointer;
  &:hover,
  &:focus {
    opacity: 0.7;
  }
  &:active {
    opacity: 0.6;
  }
}

.video-player__i-play {
  max-width: 90px;
  margin: 15px;
}
