@import "./clear";
@import "./variables";
@import "./mixins";
@import "./fonts.scss";
@import "./components/index.scss";

html,
body {
  font-family: $font-family1;
  font-size: $font-size8;
  color: $color-firm9;
}

h1 {
  font-size: $font-size1;
}

h2 {
  font-size: $font-size2;
}

h3 {
  font-size: $font-size3;
  text-transform: uppercase;
  font-weight: 600;
}

h4 {
  font-size: $font-size4;
}

h5 {
  font-size: $font-size5;
}

h6 {
  font-size: $font-size6;
  text-transform: uppercase;
  font-weight: 600;
}

p {
  line-height: 1.79;
}

.subtitle {
  font-size: $font-size7;
  font-weight: 600;
  color: $color-firm4;
  text-transform: uppercase;
}

.app__section {
  padding: 60px 20px 92px;
}

.app__section--dark {
  background: $color-firm1;
  color: $color-firm2;
}

.app__section-content {
  max-width: 1132px;
  margin: 0 auto;
}
