@import "./clear";
@import "./variables";
@import "./mixins";
@import "./fonts.scss";
@import "./components/index.scss";

html,
body {
  font-family: $font-family1;
  font-size: $font-size8;
  color: $color-firm9;
}

h1 {
  font-size: $font-size1;
}

h2 {
  font-size: $font-size2;
}

h3 {
  font-size: $font-size3;
}

h4 {
  font-size: $font-size4;
}

h5 {
  font-size: $font-size5;
}

h6 {
  font-size: $font-size6;
}
