// Colors BEGIN
$color-firm1: #000000;
$color-firm2: #ffffff;
$color-firm3: #b88b58;
$color-firm4: #aeaeae;
$color-firm5: #bebebe;
$color-firm6: #7e7e7e;
$color-firm7: #373737;
$color-firm8: #a4a4a4;
$color-firm9: #242424;
$color-firm10: #cfcfcf;
$color-firm11: #ededed;
$color-firm12: #9e9e9e;
$color-firm13: #5b5b5b;
$color-firm14: #8a8a8a;
$color-firm15: #fefefe;
$color-firm16: #34c5f0;
$color-firm17: #e74237;
$color-firm18: #336297;
$color-firm19: #127cb4;
$color-firm20: #b71c29;
// Colors END

// Fonts BEGIN
$font-family1: 'Montserrat', sans-serif;

$font-size1: 72px;
$font-size2: 48px;
$font-size3: 30px;
$font-size4: 24px;
$font-size5: 21px;
$font-size6: 20px;
$font-size7: 18px;
$font-size8: 14px;
$font-size9: 13px;
$font-size10: 12px;
$font-size11: 10px;
// Fonts END

// General BEGIN
$animation-time: 0.3s;
// General END
